<!DOCTYPE html>
<html>

<head>
  <title>Student-Manager App</title>
  <link rel="icon" href="/photo/logo.png">
  <link rel="stylesheet" href="/css/styles.min.css">
</head>

<body>
  <div class="centered-form">
    <div class="centered-form__box">
      <h1>Join</h1>

      <form action="/chat.html">
        <label for="fname">Firstname:</label>
        <label for="cars">Choose a car:</label>
        <select id="user" name="username">
          <option value="adhi">adhi</option>
          <option value="arjun">arjun</option>
          <option value="sharath">sharath</option>
          <option value="mohan">mohan</option>
        </select>

        <label for="cars">Choose a car:</label>
        <select id="cars" name="room">
          <option value="student">student</option>
          <option value="teacher">teacher</option>
          <option value="student">student</option>
          <option value="teacher">teacher</option>
        </select>
        <button>JOIN</button>
      </form>
    </div>
  </div>

  <!-- <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script> -->

</body>

</html>
